@import url('reset.css');



body{
	background-color:black;
}



.hide{
	display:none;
}

.show{
	display:block;
}



.closed{
	background-color:white;
	color:black;
}

.open{
	background-color:black;
	color:white;
}




.wrapper{
	height:450px;
	width:750px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	padding:25px;
	position:relative;
}

.button{
	height:20px;
	padding-top:2px;
	border:2px solid black;
	cursor:pointer;
}

.type{
	height:20px;
	padding-top:2px;
	border:1px solid black;
	border-right:none;
	background-color:#eeeeee;
}

.value{
	height:20px;
	padding-top:2px;
	border:1px solid black;
	background-color:#dddddd;
}

.list{
	height:20px;
	padding-top:2px;
	border:1px solid black;
	background-color:#eeeeee;
}

.taskslist{
	height:20px;
	padding-top:2px;
	border:1px solid black;
	background-color:#eeeeee;
}

.taskslistfirst{
	height:20px;
	padding-top:2px;
	border:1px solid black;
	background-color:white;
	width:180px;
}





.hudbox{
	height:26px;
	width:750px;
}


.hud{
	width:65px;
	float:left;
	text-align:center;
}

._hud{
	text-align:center;
}

.__hud{
	padding-left:10px;
}

.self{
	width:65px;
	float:left;
}

.suit{
	width:65px;
	float:left;
}

.tasks{
	width:80px;
	float:left;
}

.viewport{
	width:120px;
	float:left;
}

.comms{
	width:85px;
	float:left;
}

.selfbox{
	width:90px;
	position:absolute;
	left:93px;
	top:51px;
}

.suitbox{
	width:110px;
	position:absolute;
	left:161px;
	top:51px;
}

.tasksbox{
	width:100px;
	position:absolute;
	left:230px;
	top:51px;
}

.viewportbox{
	width:128px;
	position:absolute;
	left:314px;
	top:51px;
}

.commsbox{
	width:190px;
	position:absolute;
	left:339px;
	top:51px;
}

.attributesbox{
	width:101px;
	position:absolute;
	left:188px;
	top:153px;
}

.skillsbox{
	width:75px;
	position:absolute;
	left:188px;
	top:179px;
}

.dreamsbox{
	width:95px;
	position:absolute;
	left:188px;
	top:257px;
}

.statusbox{
	width:250px;
	position:absolute;
	left:201px;
	top:69px;
}

	.statustype{
		width:90px;
		float:left;
	}
	
	.statusvalue{
		width:52px;
		float:left;
		padding-left:4px;
	}
	
.vitalsbox{
	width:250px;
	position:absolute;
	left:201px;
	top:76px;
}

	.vitalstype{
		width:110px;
		float:left;
	}
	
	.vitalsvalue{
		width:73px;
		float:left;
		padding-left:4px;
	}
	
.moodbox{
	width:250px;
	position:absolute;
	left:201px;
	top:102px;
}
	
	.moodlist{
		width:227px;
		float:left;
	}
	
.statisticsbox{
	width:250px;
	position:absolute;
	left:201px;
	top:128px;
}

	.statisticstype{
		width:90px;
		float:left;
	}
	
	.statisticsvalue{
		width:150px;
		float:left;
		padding-left:4px;
	}
	
.professionalbox{
	width:250px;
	position:absolute;
	left:295px;
	top:153px;
}

	.professionaltype{
		width:145px;
		float:left;
	}
	
	.professionalvalue{
		width:55px;
		float:left;
		padding-left:4px;
	}
	
.personalbox{
	width:250px;
	position:absolute;
	left:295px;
	top:177px;
}

	.personaltype{
		width:145px;
		float:left;
	}
	
	.personalvalue{
		width:55px;
		float:left;
		padding-left:4px;
	}
	
.level1box{
	width:280px;
	position:absolute;
	left:269px;
	top:180px;
}

	.level1type{
		width:190px;
		float:left;
	}
	
	.level1value{
		width:63px;
		float:left;
		padding-left:4px;
	}
	
.level2box{
	width:280px;
	position:absolute;
	left:269px;
	top:204px;
}

	.level2type{
		width:190px;
		float:left;
	}
	
	.level2value{
		width:63px;
		float:left;
		padding-left:4px;
	}

.level3box{
	width:280px;
	position:absolute;
	left:269px;
	top:230px;
}

	.level3type{
		width:190px;
		float:left;
	}
	
	.level3value{
		width:63px;
		float:left;
		padding-left:4px;
	}

.level4box{
	width:280px;
	position:absolute;
	left:269px;
	top:255px;
}

	.level4type{
		width:190px;
		float:left;
	}
	
	.level4value{
		width:63px;
		float:left;
		padding-left:4px;
	}
	
.level5box{
	width:280px;
	position:absolute;
	left:269px;
	top:281px;
}

	.level5type{
		width:190px;
		float:left;
	}
	
	.level5value{
		width:63px;
		float:left;
		padding-left:4px;
	}
	
.level6box{
	width:280px;
	position:absolute;
	left:269px;
	top:307px;
}

	.level6type{
		width:190px;
		float:left;
	}
	
	.level6value{
		width:75px;
		float:left;
		padding-left:4px;
	}

.level7box{
	width:280px;
	position:absolute;
	left:269px;
	top:333px;
}

	.level7type{
		width:190px;
		float:left;
	}
	
	.level7value{
		width:63px;
		float:left;
		padding-left:4px;
	}

.level8box{
	width:280px;
	position:absolute;
	left:269px;
	top:359px;
}

	.level8type{
		width:190px;
		float:left;
	}
	
	.level8value{
		width:63px;
		float:left;
		padding-left:4px;
	}
	
.featsbox{
	width:380px;
	position:absolute;
	left:201px;
	top:206px;
}

	.featstype{
		width:90px;
		float:left;
	}
	
	.featsvalue{
		width:260px;
		float:left;
		padding-left:4px;
	}
	
.fateimg{
	width:432px;
	height:200px;
	position:absolute;
	top:212px;
	left:201px;
	background-image:url("images/fate1.jpg");
}

.asleepbox{
	width:450px;
	position:absolute;
	left:289px;
	top:257px;
}
	
	.asleeplist{
		width:440px;
		float:left;
	}
	
.daydreamsbox{
	width:450px;
	position:absolute;
	left:289px;
	top:281px;
}
	
	.daydreamslist{
		width:440px;
		float:left;
	}
	
.aspirationsbox{
	width:450px;
	position:absolute;
	left:289px;
	top:307px;
}
	
	.aspirationslist{
		width:440px;
		float:left;
	}
	
.suitstatusbox{
	width:250px;
	position:absolute;
	left:289px;
	top:69px;
}

	.suitstatustype{
		width:90px;
		float:left;
	}
	
	.suitstatusvalue{
		width:52px;
		float:left;
		padding-left:4px;
	}
	
.versionbox{
	width:300px;
	position:absolute;
	left:289px;
	top:76px;
}

	.versiontype{
		width:126px;
		float:left;
	}
	
	.versionvalue{
		width:134px;
		float:left;
		padding-left:4px;
	}
	
.powerbox{
	width:250px;
	position:absolute;
	left:289px;
	top:101px;
}
	
	.powerlist{
		width:120px;
		float:left;
	}
	
.oxygenbox{
	width:300px;
	position:absolute;
	left:289px;
	top:127px;
}

	.oxygentype{
		width:80px;
		float:left;
	}
	
	.oxygenvalue{
		width:80px;
		float:left;
		padding-left:4px;
	}
	
.maintenancebox{
	width:300px;
	position:absolute;
	left:289px;
	top:153px;
}

	.maintenancetype{
		width:100px;
		float:left;
	}
	
	.maintenancevalue{
		width:80px;
		float:left;
		padding-left:4px;
	}
	
._tasksbox{
	width:500px;
	position:absolute;
	left:230px;
	top:153px;
}

	._taskslist{
		width:450px;
		float:left;
	}
	
.printoutbox{
	width:800px;
	position:absolute;
	left:25px;
	top:170px;
}

	.printouttext{
		width:400px;
		height:230px;
		padding-top:12px;
		padding-right:10px;
		border:2px solid black;
		float:left;
	}
	
	.printoutoptions{
		width:327px;
		float:left;
		padding-left:4px;
	}
	
	.printoutlist{
		width:180px;
		margin-left:-5px;
		margin-bottom:5px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	