@import url('reset.css');



body{
	background-color:black;
}



.hide{
	display:none;
}

.show{
	display:block;
}



.closed{
	background-color:white;
	color:black;
}

.open{
	background-color:black;
	color:white;
}




.wrapper{
	height:450px;
	width:750px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	padding:25px;
	position:relative;
}

.button{
	height:20px;
	padding-top:2px;
	border:2px solid black;
	cursor:pointer;
}

.type{
	height:20px;
	padding-top:2px;
	border:1px solid black;
	border-right:none;
	background-color:#eeeeee;
}

.value{
	height:20px;
	padding-top:2px;
	border:1px solid black;
	background-color:#dddddd;
}

.list{
	height:20px;
	padding-top:2px;
	border:1px solid black;
	background-color:#eeeeee;
}



.hudbox{
	height:26px;
	width:750px;
}


.hud{
	width:65px;
	float:left;
	text-align:center;
}

._hud{
	text-align:center;
}

.__hud{
	padding-left:10px;
}

.self{
	width:65px;
	float:left;
}

.suit{
	width:65px;
	float:left;
}

.tasks{
	width:80px;
	float:left;
}

.viewport{
	width:120px;
	float:left;
}

.comms{
	width:85px;
	float:left;
}

.selfbox{
	width:90px;
	position:absolute;
	left:93px;
}

.suitbox{
	width:110px;
	position:absolute;
	left:161px;
}

.tasksbox{
	width:100px;
	position:absolute;
	left:230px;
}

.viewportbox{
	width:128px;
	position:absolute;
	left:314px;
}

.commsbox{
	width:190px;
	position:absolute;
	left:339px;
}

.attributesbox{
	width:101px;
	position:absolute;
	left:188px;
	top:153px;
}

.statusbox{
	width:250px;
	position:absolute;
	left:201px;
	top:69px;
}

	.statustype{
		width:90px;
		float:left;
	}
	
	.statusvalue{
		width:52px;
		float:left;
		padding-left:4px;
	}
	
.vitalsbox{
	width:250px;
	position:absolute;
	left:201px;
	top:76px;
}

	.vitalstype{
		width:110px;
		float:left;
	}
	
	.vitalsvalue{
		width:73px;
		float:left;
		padding-left:4px;
	}
	
.moodbox{
	width:250px;
	position:absolute;
	left:201px;
	top:102px;
}
	
	.moodlist{
		width:227px;
		float:left;
	}
	
.statisticsbox{
	width:250px;
	position:absolute;
	left:201px;
	top:128px;
}

	.statisticstype{
		width:90px;
		float:left;
	}
	
	.statisticsvalue{
		width:150px;
		float:left;
		padding-left:4px;
	}
	
.professionalbox{
	width:250px;
	position:absolute;
	left:295px;
	top:153px;
}

	.professionaltype{
		width:145px;
		float:left;
	}
	
	.professionalvalue{
		width:55px;
		float:left;
		padding-left:4px;
	}
	
.personalbox{
	width:250px;
	position:absolute;
	left:295px;
	top:177px;
}

	.personaltype{
		width:145px;
		float:left;
	}
	
	.personalvalue{
		width:55px;
		float:left;
		padding-left:4px;
	}

